
.cont_formsEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.create_container1{
    text-align: center;
    font-size: 32px;
    margin: 50px 0;
}

.formEdit{
    padding: 15px;
    width: 300px;
}

.btn_cont{
    /* background-color: blue; */

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.btn_delete{
    background-color: rgb(179, 7, 7);
    border: none;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

footer{
    margin-top: 250px;
}