

.container_forms{
    padding: 20px;
    background-color: rgb(246, 246, 246);
    margin-top: 60px;
}

.div_title{
    /* background-color: antiquewhite; */
    text-align: center;
    font-size: 30px;
}

.div_forms{
    /* background-color: aliceblue; */
    /* margin-top: 30px; */
    padding: 30px;
    /* height: 400px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.cont_content{
    text-align: center;
}


.form2{
    /* background: rgba(255, 255, 255, 0.51); */
    /* background-color: red; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);

    width: 280px;
    height: 400px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    /* padding: 20px; */

    /* transition: all ease .4s; */
}


.formEdit{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);

    width: 280px;
    height: 400px;

    display: flex;
    flex-direction: column;
    /* padding: 20px; */

}

.formEdit button{
    cursor: pointer;
}

.form_title{
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid gold;
    padding: 5px;
    /* background-color: green; */
    height: 30%;
}

.form_content{
     text-align: center;
     /* background-color: blue; */
     height: 40%;
}

.form_link{
    text-align: center;
    /* margin-top: 50px; */
    /* background-color: aqua; */
    padding: 10px;
    height: 10%;

}

.button_link{
    border: none;
    background-color: gold;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    margin-top: 380px;
}

